@use "../../variables"as v;

.cards {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: v.$BgSecondaryBlack;
}

@import 'card';
@import 'activity';