@use '../../variables'as v;

.form {
    margin: 5%;
    padding: 1%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    width: 50%;
    background-color: v.$BgSecondaryBlack;

}

@import './formInput';