@use '../variables'as v;

@mixin btn($color, $hcolor, $size, $fsize:1rem) {
    background-color: $color;
    border-radius: 16px;
    border: 0.2px solid #000;
    color: $hcolor;
    text-decoration: none;
    font-family: v.$font;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $fsize;
    height: 4vh;
    width: $size;
    text-align: center;
    letter-spacing: 0.2rem;

    &:hover {
        background-color: $hcolor;
        color: $color;
    }
}