@use "../../variables"as v;
@import '../../mixins/btn';

.continents {
    @include btn(v.$BgPrimary, v.$Primary, 70%, 0.4rem);

    margin: 3%;
    text-align: center;

    &>option {
        font-family: v.$font;
        font-size: 1.6rem;
    }
}