@use "../variables"as v;

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: fixed;
    background-color: v.$BgPrimary;

    height: 4vh

}

@import "./headerLink";
@import "./headerTitle"