@use '../../variables'as v;
@import '../../mixins/btn';

.country__Detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    align-items: center;
    margin: 3%;

    .country__Detail--img-flex {
        display: flex;
        height: 100%;
        width: 100%;
        border: 1px solid black;
        border-radius: 16px;

        &:hover {
            -webkit-animation: shadow-drop-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: shadow-drop-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

        .country__Detail--img {
            width: 60%;
            border-radius: 16px;
        }

        .country__Detail--flex {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            text-align: center;
            background-color: v.$BgPrimaryTranslucid;
            height: 100%;

            .link__maps {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                .btn__maps {
                    @include btn(v.$BgPrimary, v.$Primary, 100%, 0.4rem);
                    cursor: pointer;
                }
            }

            &>* {
                font-family: v.$font;
                margin: 1%;
            }

            &>p {
                font-size: 1.5rem;
            }

            &>h2 {
                font-size: 2rem;
            }
        }
    }

    .country__Detail--activities {
        background-color: v.$BgPrimaryTranslucid;
        margin: 3%;
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 100%;

        .country__Detail--title {
            font-family: v.$font;
            font-size: 1.8rem;
        }

        .country__Detail--activities-try {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            text-align: center;
            height: 100%;

            &>p,
            a {
                font-family: v.$font;
                letter-spacing: 0.2rem;
                padding: 1%;
                border: 1px black solid;
                width: 25%;
            }

            .TH {
                font-size: 1rem;
                background-color: v.$BgSecondary;
                font-family: v.$font;
                padding: 1%;
                color: v.$BgPrimary;
            }
        }
    }
}

@-webkit-keyframes shadow-drop-bottom {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
        box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-drop-bottom {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
        box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
}