$Primary: #000000;

$Secondary: #4fe994;

$BgPrimary: #F5F7F8;
$BgPrimaryTranslucid: #f5f7f85e;
$BgSecondary: #121212;
$BgSecondaryBlack:#6d6d6d;
$Error:#CF6679;
$White:#FFFFFF;
$font:'Bebas Neue',
cursive;